.bigImage{
text-align: center; 
}
.small{
    display: inline-block;
    text-align: center;
    width: 15%;
    height: 25%;
}
.big{
    width:50%;
    height:70%;
}
.smallImages{
    text-align: center;
}
