:root {
    --main-color: #75BD75;
    --light-color: #DFF7E3;
    --gray: #999999;
    --dark-gray: #5F6761;
}

.box {
    border-bottom: dotted 2px var(--dark-gray);
    padding-bottom: 5%;
}

.right-div {
    font-family: cursive;
    color: var(--dark-gray);
    margin-top: 3%;
    font-size: 1.3vw;
}