/* #30D5C8 (first color) 60%
    #AEC6CF (second color)30%
    #2BBD44 (third color) 10%
 */

.parent {
    width: 100%;
    height: 100vh;
    margin-top: 0%;
    font-family: cursive;
    color: white;
    background-color: #30D5C8;
}

#my-pic {
    border-radius: 100%;
    width: 18%;
    height: 36%;
}

.my-pic-container {
    text-align: center;
}

.welcome-text {
    padding-top: 5%;
    text-align: center;
    font-size: 1.5vw;
}

#about-me {
    margin-top: 3%;
    margin-left: 5%;
}

.dropdown {
    margin-left: 25%;
}

.more-info {
    margin-left: 35%;
}

.button-container {
    display: flex;
}