.parent {
    font-family: cursive;
    color: #547f64;
    background-color: rgb(220, 220, 220);
}

#my-pic {
    border-radius: 100%;
    width: 18%;
    height: 36%;
}

.my-pic-container {
    text-align: center;
}

.welcome-text {
    margin-top: 3%;
    text-align: center;
    font-size: 1.5vw;
}

#about-me {
    margin-top: 3%;
    margin-left: 5%;
}

.dropdown {
    margin-top: 3%;
    margin-left: 68%;
}

.more-info {
    margin-left: 26%;
}