:root {
    --main-color: #75BD75;
    --light-color: #DFF7E3;
    --gray: #999999;
    --dark-gray: #5F6761;
}

body {
    margin: 0%;
}

.main-div {
    display: flex;
    height: 100%;
}

.left-div {
    width: 25%;
    background-color: var(--gray);
    color: var(--light-color);
    font-size: 1.3vw;
    font-family: cursive;
    text-align: center;
    border-right: var(--light-color) 3px solid;
}

.right-div {
    width: 74%;
    background-color: var(--main-color);
    height: 100%;
}

.menu {
    border-bottom: var(--light-color) 3px solid;
}

.iframe {
    border: none;
    height: 100%;
}