:root {
    --main-color: #75BD75;
    --light-color: #DFF7E3;
    --gray: #999999;
    --dark-gray: #5F6761;
}

body {
    margin: 0%;
    font-family: cursive;
}

.main-div {
    display: flex;
    height: 100%;
}

.left-div {
    background-color: var(--dark-gray);
    color: var(--light-color);
    font-size: 1.2vw;
    /* transition: 1s; this can be used instead of Interval function */
}

.right-div {
    width: -webkit-fill-available;
    background-color: var(--light-color);
    height: 100%;
    padding-left: 3%;
}

.menu {
    border-bottom: var(--light-color) 1px solid;
    border-bottom-style: groove;
    height: 4%;
    text-align: center;
    padding-top: 5%;
}

.fas {
    padding-right: 4%;
}

.fa-arrow-circle-left {
    padding-right: 0%;
}

.iframe {
    border: none;
    height: 100%;
}

.back-button {
    position: fixed;
    left: 2%;
    bottom: 6%;
    cursor: pointer;
    border-bottom: 1px solid var(--main-color);
    color: var(--main-color);
    font-size: 1.2vw;
}

.sidebar-collaps-container {
    padding: 5%;
}

.sidebar-collaps-container:hover {
    cursor: pointer;
    color: var(--main-color);
}