body{
    background-color: burlywood;
}
h1{
    color: #A52A2A;
    text-align: center;
    margin-top: 15%;
    font-family: cursive;
    font-size: 35px;
}
button{
    color: #A52A2A;
    background-color: #FFEFD5	;
    border-radius: 5px;
    font-family: cursive;
    text-align: center;
    font-size: large;
    text-align: center;
    padding: 1%;
}
button:hover {
    background-color: brown;
    color: burlywood;
}
div{
    text-align: center;
}