body{
    background-color: burlywood;
}
h1{
    color: #A52A2A;
    text-align: center;
    /* border: 1px solid black; */
    width: fit-content;
    margin: 15% 25% auto 25%;
    font-family: cursive;
    font-size: 35px;
}
button{
    color: #A52A2A;
    background-color: #FFEFD5	;
    border-radius: 5px;
    font-family: cursive;
    text-align: center;
    font-size: large;
    margin: 6% 40% auto;
    padding: 1%;
}