.main-div {
    display: flex;
    height: 100%;
}

.left-div {
    width: 25%;
    background-color: #DEB887;
    color: #A52A2A;
    font-size: x-large;
    font-family: cursive;
    text-align: center;
}

.right-div {
    width: 74%;
    background-color: #FFFACD;
    height: 100%;
}

.menu {
    border-bottom: brown 1px solid;
}


/* .menu:hover {
    cursor: pointer;
} */

.iframe {
    border: none;
    height: 100%;
}